<p id="notice"><%= notice %></p>

<p>
  <b>Episode:</b>
  <%= @episode.episode_id %>
</p>

<p>
  <b>Episode number:</b>
  <%= @episode.episode_number %>
</p>

<p>
  <b>Artist1:</b>
  <%= @episode.artist1 %>
</p>

<p>
  <b>Artist2:</b>
  <%= @episode.artist2 %>
</p>

<p>
  <b>Episode host:</b>
  <%= @episode.episode_host_id %>
</p>

<p>
  <b>Salon:</b>
  <%= @episode.salon_id %>
</p>

<p>
  <b>Episode title:</b>
  <%= @episode.episode_title %>
</p>

<p>
  <b>Episode short title:</b>
  <%= @episode.episode_short_title %>
</p>

<p>
  <b>Episode browser title:</b>
  <%= @episode.episode_browser_title %>
</p>

<p>
  <b>Pretty url:</b>
  <%= @episode.pretty_url %>
</p>

<p>
  <b>Episode meta desc:</b>
  <%= @episode.episode_meta_desc %>
</p>

<p>
  <b>Episode meta keywords:</b>
  <%= @episode.episode_meta_keywords %>
</p>

<p>
  <b>Episode url:</b>
  <%= @episode.episode_url %>
</p>

<p>
  <b>Episode still img:</b>
  <%= @episode.episode_still_img %>
</p>

<p>
  <b>Video code flash:</b>
  <%= @episode.video_code_flash %>
</p>

<p>
  <b>Video code quick time:</b>
  <%= @episode.video_code_quick_time %>
</p>

<p>
  <b>Video code iphone:</b>
  <%= @episode.video_code_iphone %>
</p>

<p>
  <b>Video code black berry:</b>
  <%= @episode.video_code_black_berry %>
</p>

<p>
  <b>Video code android:</b>
  <%= @episode.video_code_android %>
</p>

<p>
  <b>Video code ipad:</b>
  <%= @episode.video_code_ipad %>
</p>

<p>
  <b>Episode notes:</b>
  <%= @episode.episode_notes %>
</p>

<p>
  <b>Episode pic:</b>
  <%= @episode.episode_pic %>
</p>

<p>
  <b>Episode alt img tag:</b>
  <%= @episode.episode_alt_img_tag %>
</p>

<p>
  <b>Publish date:</b>
  <%= @episode.publish_date %>
</p>

<p>
  <b>Auto publish:</b>
  <%= @episode.auto_publish %>
</p>

<p>
  <b>Vip episode:</b>
  <%= @episode.vip_episode %>
</p>

<p>
  <b>Downloadable:</b>
  <%= @episode.downloadable %>
</p>

<p>
  <b>Vip group:</b>
  <%= @episode.vip_group %>
</p>

<p>
  <b>Category:</b>
  <%= @episode.category %>
</p>

<p>
  <b>Video length:</b>
  <%= @episode.video_length %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
